<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Use explicit TCP and port to avoid named-instance resolution issues -->
    <add name="AWSDatabase3" connectionString="Data Source=tcp:10.180.12.100,1433;Initial Catalog=AWSDatabase3;User Id=sa;Password=antilspa;TrustServerCertificate=True" providerName="Microsoft.Data.SqlClient" />
    <add name="AWSAccessi"    connectionString="Data Source=10.180.12.100\sqlexpress;Initial Catalog=AWSAccessi;User Id=sa;Password=antilspa;TrustServerCertificate=True"    providerName="Microsoft.Data.SqlClient" />
    <add name="ExternalInterface" connectionString="Data Source=tcp:10.180.12.100,1433;Initial Catalog=ExternalInterface;User Id=sa;Password=antilspa;TrustServerCertificate=True" providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
